#########       thee33xp         #########                            
######                              ######
###                                    ###
#                                        #
#                                        #
#                                        #
#                                        #
#                                        #
#                                        #
#                                        #
#                                        #
###                                    ###
######                              ######
#########     IV XX  DCLXVI      #########

# -- YOU'LL NEED:                        #
#            - Python                    #
#            - sqlite3: database         #
#            - tkinter: gui              #
#                                        #
#                                        #
#                                        #
#                                        #
# -- HAVE FUN :P                         #